<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.liziyuan.hope.dao.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="business_line" property="businessLine" jdbcType="DECIMAL"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="yn" property="yn" jdbcType="DECIMAL"/>
        <result column="version" property="version" jdbcType="DECIMAL"/>
        <result column="ts" property="ts" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="userColumns">
        id,
        business_line,
        name,
        remark,
        yn,
        version,
        ts
    </sql>


    <!-- 插入 -->
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessLine != null and businessLine != ''">
                business_line,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessLine != null and businessLine != ''">
                #{businessLine,jdbcType=DECIMAL},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <!-- 修改 -->
    <update id="update" parameterType="User">
        <if test="_parameter != null">
            <if test="id != null and id > 0">
                update user set
                <if test="businessLine != null and businessLine != ''">
                    business_line = #{businessLine,jdbcType=DECIMAL},
                </if>
                <if test="name != null and name != ''">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="remark != null and remark != ''">
                    remark = #{remark,jdbcType=VARCHAR},
                </if>
                <if test="version != null and version != ''">
                    version = #{version,jdbcType=DECIMAL},
                </if>
                <if test="ts != null and ts != ''">
                    ts = #{ts,jdbcType=TIMESTAMP},
                </if>
                id = #{id}
                where id = #{id}
            </if>
        </if>
    </update>

    <!-- 根据主键获取对象信息 -->
    <select id="getUserById" resultMap="UserMap" parameterType="java.lang.Integer">
        <if test="_parameter != null">
            select
            <include refid="userColumns"/>
            from user
            where id = #{_parameter} and yn = 1
        </if>
    </select>


    <!-- 根据查询Bean获取数据集合，不带翻页 -->
    <select id="queryUserList" resultMap="UserMap"
            parameterType="com.liziyuan.hope.domain.query.UserQuery">
        select
        <include refid="userColumns"/>
        from user where
        <include refid="queryUserListWhere"/>
    </select>


    <!-- 根据查询Bean获取数据集合，翻页 -->
    <select id="queryUserListWithPage" resultMap="UserMap"
            parameterType="com.liziyuan.hope.domain.query.UserQuery">
        select
        <include refid="userColumns"/>
        from user where
        <include refid="queryUserListWhere"/>
        order by
        <if test="sidx != null and sidx != ''">
            #{sidxColumn},jdbcType=VARCHAR}
            <if test="sord != null and sord != ''">
                #{sord},jdbcType=VARCHAR}
            </if>
        </if>
        <if test="sidx == null or sidx == ''">
            id desc
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据查询Bean查询-判断是否存在 -->
    <select id="exist" resultType="java.lang.Integer"
            parameterType="com.liziyuan.hope.domain.query.UserQuery">
        select count(1) from user where
        <include refid="queryUserListWhere"/>
    </select>

    <!-- 根据查询Bean获取集合总数 -->
    <select id="queryUserCount" resultType="java.lang.Integer"
            parameterType="com.liziyuan.hope.domain.query.UserQuery">
        select count(1) from user where
        <include refid="queryUserListWhere"/>
    </select>

    <!-- 删除信息-逻辑删除 -->
    <update id="delete" parameterType="User">
        update user
        set yn = 0, update_user = #{updateUser,jdbcType=VARCHAR}
        where id = #{id}
    </update>


    <!-- 常用的查询Where条件 -->
    <sql id="queryUserListWhere">
        yn = 1
        <if test="id != null and id != ''">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="businessLine != null and businessLine != ''">
            and business_line = #{businessLine,jdbcType=DECIMAL}
        </if>
        <if test="name != null and name != ''">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="fuzzyUserName != null and fuzzyUserName != ''">
            and name like CONCAT('%', #{fuzzyUserName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="remark != null and remark != ''">
            and remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="yn != null and yn != ''">
            and yn = #{yn,jdbcType=DECIMAL}
        </if>
        <if test="version != null and version != ''">
            and version = #{version,jdbcType=DECIMAL}
        </if>
        <if test="ts != null and ts != ''">
            and ts = #{ts,jdbcType=TIMESTAMP}
        </if>
    </sql>
</mapper>